{% extends "base.html" %}

{% block title %}{{ SITENAME }} &mdash; {{ article.title }}{% endblock title %}

{% block meta %}
  <meta name="description" content="{{ article.summary|striptags }}">

  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ SITENAME }} — {{ article.title }}">
  <meta property="og:description" content="{{ article.summary|striptags }}">
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
  <meta property="og:image" content="{{ SITEURL }}/theme/img/datewithdata-share.png">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ SITENAME }} — {{ article.title }}">
  <meta name="twitter:description" content="{{ article.summary|striptags }}">
  <meta name="twitter:url" content="{{ SITEURL }}/{{ article.url }}">
  <meta name="twitter:image" content="{{ SITEURL }}/theme/img/datewithdata-share.png">

  {% for keyword in article.keywords %}
    <meta name="keywords" content="{{keyword}}">
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}">
  {% endfor %}
{% endblock meta %}

{% block content %}

        <div class="grid-container">
            {%  if 'Ensaio' in article.tags %}
                <script src="{{ article.externalscripts1 }}"></script>
                
                <!-- For nomad URL preview -->
                <img src="{{ article.shareimage }}" class="hide">
                
                <article class="hentry longform">
                    <div class="main-image">
                        {% if article.openingimage %}
                            {{ article.openingimage }}
                            <span class="caption">{{ article.openingcaption }}</span>
                        {% endif %}
                    </div>
                    <header class="entry-header">
                        <h2>{{ article.title }}</h2>
                    </header>
                    <div class="grid-x grid-margin-x">
                        <div class="post-info large-3 medium-2 small-12 cell">
                            <p class="date">
                                {% for author in article.authors %}
                                    por <strong class="author">{{ author }}</strong>
                                {% endfor %}
                                <span>Edição de {{ article.editor }}</span>
                                <time class="published" datetime="{{ article.date.isoformat() }}">
                                {{ article.date|strftime("%d de %B de %Y") }}
                                </time>  
                            </p>
                        </div>
                        <div class="entry-content large-8 medium-10 small-12 end cell">
                            {{ article.content }}
                        </div>
                    </div>
                </article>
                <script src="{{ SITEURL }}/theme/js/{{ article.extrascripts }}"></script>
            {% else %}
                <article class="hentry grid-x grid-margin-x">
                    <header class="medium-4 small-12 cell">
                        <h2>{{ article.title }}</h2>
                        <p class="date">
                          <time class="published" datetime="{{ article.date.isoformat() }}">
                            {{ article.date|strftime("%d de %B de %Y") }}
                          </time>
                          {% for author in article.authors %}
                          por <strong class="author">{{ author }}</strong>
                          {% endfor %}
                        </p>
                    </header>
                    <div class="medium-8 small-12 cell">
                        {% if article.image %}
                            <p><img src="{{ article.image }}" alt="{{ article.title }}"></p>
                        {% endif %}
                        <div class="entry-content">
                            {{ article.content }}
                        </div>
                    </div>
                </article>
            {% endif %}
    </div>
{% endblock %}
