{% extends "base.html" %}

{% block title %}{{ SITENAME }} &mdash; {{ article.title }}{% endblock title %}

{% block meta %}
  <meta name="description" content="{{ article.summary|striptags }}">

  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ SITENAME }} — {{ article.title }}">
  <meta property="og:description" content="{{ article.summary|striptags }}">
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
  <meta property="og:image" content="{{ SITEURL }}/theme/images/cover-800x500.png">
  <meta property="fb:app_id" content="297433590661569">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ SITENAME }} — {{ article.title }}">
  <meta name="twitter:description" content="{{ article.summary|striptags }}">
  <meta name="twitter:url" content="{{ SITEURL }}/{{ article.url }}">
  <meta name="twitter:image" content="{{ SITEURL }}/theme/images/cover-800x500.png">

  {% for keyword in article.keywords %}
    <meta name="keywords" content="{{keyword}}">
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}">
  {% endfor %}
{% endblock meta %}

{% block content %}

    <div class="row expanded small-collapse">
            {%  if 'Ensaio' in article.tags %}
                <article class="hentry longform">
                    <header class="row">
                        <div class="medium-5 small-12 column">
                            <h2>{{ article.title }}</h2>
                            <p class="date">
                                {% for author in article.authors %}
                                    por <strong class="author">{{ author }}</strong>
                                {% endfor %}
                            </p>
                        </div>
                        {% if article.image %}
                            <div class="medium-7 small-12 column">
                                <p><img src="{{ article.image }}" alt="{{ article.title }}"></p>
                            </div>
                        {% endif %}
                    </header>
                    <div class="row">
                        <p class="post-info medium-1 small-12 column">
                            <time class="published" datetime="{{ article.date.isoformat() }}">
                            {{ article.date|strftime("%d de %B de %Y") }}
                            </time>  
                        </p>
                        <div class="entry-content large-8 medium-10 small-12 column">
                            {{ article.content }}
                        </div>
                    </div>
                </article>
            {% else %}
                <article class="hentry row">
                    <header class="medium-4 small-12 columns">
                        <h2>{{ article.title }}</h2>
                        <p class="date">
                          <time class="published" datetime="{{ article.date.isoformat() }}">
                            {{ article.date|strftime("%d de %B de %Y") }}
                          </time>
                          {% for author in article.authors %}
                          por <strong class="author">{{ author }}</strong>
                          {% endfor %}
                        </p>
                    </header>
                    <div class="medium-8 small-12 columns">
                        {% if article.image %}
                            <p><img src="{{ article.image }}" alt="{{ article.title }}"></p>
                        {% endif %}
                        <div class="entry-content">
                            {{ article.content }}
                        </div>
                    </div>
                </article>
            {% endif %}
    </div>
{% endblock %}
