<!DOCTYPE html>
<html  class="no-js" lang="pt">
<head>
        <meta charset="utf-8">
    	<meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block head %}
            <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
            {% block meta %}
            <meta name="description" content="{{ SITE_DESCRIPTION }}">

            <meta property="og:title" content="{{ SITENAME }}">
            <meta property="og:description" content="{{ SITE_DESCRIPTION }}">
            <meta property="og:url" content="{{ SITEURL }}">
    	    <meta property="og:image" content="http://datewithdata.pt/images/datewithdata-share.png">

            <meta name="twitter:card" content="summary">
            <meta name="twitter:title" content="{{ SITENAME }}">
            <meta name="twitter:description" content="{{ SITE_DESCRIPTION }}">
            <meta name="twitter:url" content="{{ SITEURL }}">
            <meta name="twitter:image" content="/theme/images/datewithdata-share.png">

            <meta name="theme-color" content="#3ad0d0">

            {% endblock meta %}
            {% block extra_meta %}
            {% endblock extra_meta %}


            {% if FEED_ALL_ATOM %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed">
            {% endif %}
            {% if FEED_ALL_RSS %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed">
            {% endif %}
            {% if FEED_ATOM %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed">
            {% endif %}
            {% if FEED_RSS %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed">
            {% endif %}
            {% if CATEGORY_FEED_ATOM and category and (category.slug.length) %}
            <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed">
            {% endif %}
            {% if CATEGORY_FEED_RSS and category %}
            <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed">
            {% endif %}
            {% if TAG_FEED_ATOM and tag %}
            <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed">
            {% endif %}
            {% if TAG_FEED_RSS and tag %}
            <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed">
            {% endif %}
        {% endblock head %}
	
        <link rel="shortcut icon" href="{{ SITEURL }}/theme/favicons/favicon.png">
        <link rel="stylesheet" href="{{ SITEURL }}/theme/styles/app.min.css">
        <link rel="stylesheet" href="{{ SITEURL }}/theme/foundation-icons/foundation-icons.css">

        <!-- Favicons -->
        <link rel="shortcut icon" href="/theme/images/favicon.png">
        <link rel="apple-touch-icon" href="/theme/images/apple-touch-icon.png">

  <script src="{{ SITEURL }}/theme/scripts/vendor/modernizr.js"></script>

  <script type="text/javascript">
    // Calculate next event date
    function next_event() {
      // this array contains the "end hour" of the next predicted events
      // WARNING: notice that 'Date' syntax sets up January as 0, December as 11
      var nextDates = [
        [new Date(2019, 1, 9, 17, 0, 0, 0), "09 de fevereiro"],
        [new Date(2019, 2, 9, 17, 0, 0, 0), "02 de mar&ccedil;o"],
        [new Date(2019, 3, 13, 17, 0, 0, 0), "13 de abril"],
        [new Date(2019, 4, 11, 17, 0, 0, 0), "11 de maio"],
        [new Date(2019, 5, 8, 17, 0, 0, 0), "08 de junho"],
        [new Date(2019, 6, 13, 17, 0, 0, 0), "13 de julho"],
        [new Date(2019, 8, 14, 17, 0, 0, 0), "14 de setembro"],
        [new Date(2019, 9, 12, 17, 0, 0, 0), "12 de outubro"],
        [new Date(2019, 10, 9, 17, 0, 0, 0), "09 de novembro"],
        [new Date(2019, 11, 14, 17, 0, 0, 0), "14 de dezembro"],
      ];
      // Now we need to calculate the next event date. 'next' will end up
      // containing the index of the next event, or -1 if they're all in the
      // past (we still don't know when the next one will be)
      var next = -1;
      if (nextDates.length !== 0) {
        for (var i = 0 ; i < nextDates.length; i++) {
          if (next === -1 && new Date < nextDates[i][0]) {
            next = i;
          }
        }
      }

      // Actual show the next event date
      if (next !== -1) {
        document.getElementById("next_event").innerHTML = nextDates[next][1];
      } else {
        document.getElementById("next_event").innerHTML = "A definir";
      }
    }

    // Things to do onload
    function load_page() {
      next_event();
    }

    //window.onload = load_page;

  </script>

  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//proletar.io/piwik/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '4']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Piwik Code -->

</head>

{% if output_file == 'index.html' %}
    <body class="home">
{% else %}
    <body class="other">
{% endif %}


    <!-- For nomad URL preview -->
    <img src="{{ SITEURL }}/theme/images/datewithdata-share.png" class="hide">

    <div data-magellan-expedition="fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="{{ SITEURL }}">Date with Data</a></h1>
        </li>
        <li><a href="{{ SITEURL }}/blog">Blog</a></li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li data-magellan-arrival="next-dwd"><a href="#next-dwd">Próximo</a></li>
          <li data-magellan-arrival="projects"><a href="#projects">Projetos</a></li>
          <li data-magellan-arrival="collaborate"><a href="#collaborate">O que é</a></li>
          <li data-magellan-arrival="about"><a href="#about">Onde</a></li>
        </ul>
      </section>
    </nav>
    </div>

    {% block content %}
    {% endblock %}

    <div class="about" id="about" data-magellan-destination="about">
        <div class="row">
          <div class="medium-4 small-12 columns text-left">
            <h4>Quero ir!</h4>
            <p>Os nossos encontros são marcados ao segundo sábado de cada mês, no <a href="http://uptec.up.pt/uptec/polo-das-industrias-criativas" target="blank">UPTEC PINC</a>.<p>
            <p>Das <strong>10:00 às 17:00</strong>, com pausa para almoço entre às 13:00 e as 14:00!</p>
            <p>Temos internet, projetor, whiteboards e alguns comes e bebes. Traz o teu <strong>portátil</strong> e outros acessórios que possam dar jeito para hackarmos em conjunto.</p>
          </div>
          <div class="medium-4 small-12 columns text-left">
            <h4>Mapa</h4>
            <p><a href="http://www.openstreetmap.org/?mlat=41.15137&amp;mlon=-8.61555#map=19/41.15138/-8.61555" target="_blank"><img src="{{ SITEURL }}/theme/images/map_detail.png" alt="Mapa UPTEC PINC"></a></p>
            <p><a href="http://www.openstreetmap.org/?mlat=41.15137&amp;mlon=-8.61555#map=19/41.15138/-8.61555" target="_blank">↗ Ver mapa</a></p>
          </div>
          <div class="medium-4 small-12 columns text-left">
            <h4>Onde</h4>
            <p class="address">
                <strong>Pavilhão Jardim</strong>, <a href="http://uptec.up.pt/uptec/polo-das-industrias-criativas">UPTEC PINC</a> <br>
                Praça Coronel Pacheco, 2 <br>
                4050-453 Porto
            </p>
            <p><strong>Segue-nos para ficares a par das novidades:</strong></p>
            <ul class="social">
              <li><a href="http://twitter.com/thackdaypt" target="_blank"><i class="fi-social-twitter"></i> Twitter</a></li>
              <li><a href="http://github.com/transparenciahackday" target="_blank"><i class="fi-social-github"></i> GitHub</a></li>
              <li><a href="mailto:bomdia@transparenciahackday.org" target="_blank"><i class="fi-mail"></i> Newsletter</a></li>
              <li><a href="https://www.flickr.com/photos/thackdaypt" target="_blank"><i class="fi-social-flickr"></i> Flickr</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="supportedBy">
        <div class="row">
          <div class="small-8 columns">
            <p><strong>Organização</strong></p>
            <div class="small-6 columns text-center">
                <a href="http://transparenciahackday.org" target="_blank"><img src="{{ SITEURL }}/theme/images/logo-thd-pixel.png" alt="Transparência Hackday Portugal"></a>
            </div>
            <div class="small-6 columns text-center">
                <a href="http://okfn.org/network/portugal" target="_blank"><img src="{{ SITEURL }}/theme/images/logo-okfn-branco-175px.png" alt="Open Knowledge Portugal"></a>
            </div>
          </div>
          <div class="small-4 columns">
            <p><strong>Apoio</strong></p>
            <div class="small-12 columns text-center">
                <a href="http://uptec.up.pt/uptec/polo-das-industrias-criativas" target="_blank"><img src="{{ SITEURL }}/theme/images/logo-uptec-branco-125px.png" alt="UPTEC"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="row text-center">
          <div class="small-12 columns">
            <p>O Date With Data é uma iniciativa organizada pelo <a href="http://transparenciahackday.org" target="_blank">Transparência Hackday Portugal</a> e pela <a href="https://okfn.org/network/portugal" target="_blank">Open Knowledge Portugal</a>.</p>
          </div>
          <div class="small-12 columns">
            <p>
              <a href="http://twitter.com/thackdaypt" target="_blank"><i class="fi-social-twitter"></i></a>
              <a href="http://github.com/transparenciahackday" target="_blank"><i class="fi-social-github"></i></a>
              <a href="mailto:bomdia@transparenciahackday.org" target="_blank"><i class="fi-mail"></i></a>
              <a href="https://www.flickr.com/photos/thackdaypt" target="_blank"><i class="fi-social-flickr"></i></a>
            </p>
          </div>
        </div>
      </div>

    {% include 'analytics.html' %}
    <script src="/theme/js/vendor/jquery.min.js"></script>
    <script src="/theme/js/vendor/foundation.min.js"></script>
    <script src="/theme/js/app.js"></script>

</body>
</html>
