{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ category }}{% endblock %}

{% block content %}
<section id="content">
	<div class="row text-center">
		<h2>{{ category }}</h2>
	</div>
	<div class="row">
        <div id="post-list">
	    {% for article in articles_page.object_list %}
		    <div class="medium-4 small-12 columns"><article class="hentry">
		            <header> <h3 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3> </header>
		            <footer class="post-info">
		                <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
		            </footer><!-- /.post-info -->
		            <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
		    </article></div>
	    {% endfor %}
	    </div><!-- /#posts-list -->
    </div>
{% if articles_page.has_other_pages() %}
	<div class="row">
        {% include 'pagination.html' %}
	</div>
{% endif %}
</section><!-- /#content -->
{% endblock content %}
