{% extends "base.html" %}
{% block content %}

    <section id="hero" class="section text-center">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <h1 class="small-12 cell"><img src="{{ SITEURL }}/theme/img/logo-datewithdata.svg" alt="Date with Data"></h1>
                <h2 class="next small-12 cell">
                    <em>Próximo encontro:</em>
                    <span id="next_event">14 de dezembro</span>
                </h2>
                <p class="medium-12 medium-offset-0 large-8 large-offset-2 cell">Assina a nossa newsletter para ficares a par dos próximos encontros e das últimas novidades na frente dos dados abertos.<br/> (enviamos no máximo duas por mês!)</p>
                <div class="subscribe small-12 large-offset-0 medium-8 medium-offset-2 large-6 large-offset-3 cell">
                        <!-- Begin MailChimp Signup Form -->
                        <div id="mc_embed_signup">
                            <form action="//transparenciahackday.us6.list-manage.com/subscribe/post?u=7c39a9eb2d8160fd5975e6fec&amp;id=8915d4bdd1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate grid-container" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll" class="grid-x">
                                    <div class="mc-field-group small-12 medium-7 cell">
                                        <input type="email" placeholder="Email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                    </div>
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_7c39a9eb2d8160fd5975e6fec_8915d4bdd1" tabindex="-1" value=""></div>
                                    <div class="small-12 medium-5 cell">
                                        <input type="submit" value="Assinar Newsletter" name="subscribe" id="mc-embedded-subscribe" class="button postfix">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--End mc_embed_signup-->
                    </div>
            </div>  
        </div>     
    </section><!-- /#hero -->

    <section class="section" id="next-dwd" data-magellan-destination="next-dwd">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <h2 class="cell text-center">Date With Data #41: Governos, governantes e dados</h2>
                <h3 class="cell text-center">16 de novembro</h3>                
                <div class="small-12 medium-10 medium-offset-1 small-offset-0 cell">
                    <p>Com o XXII Governo Constitucional em funções, vamos tratar de completar os nossos <a href="http://centraldedados.pt/governos/" target="_blank">datasets da Central de Dados</a> e aproveitar para fazer mais com esses dados: cruzar com outras fontes, ajudar a completar a Wikipédia e Wikidata, visualizar de uma ou outra forma… como de costume, as melhores ideias aparecem quando as pessoas entusiasmadas se juntam, por isso vamos tratar disso!</p>
                    <p>Também contamos continuar com a nossa exploração do <a href="https://dados.gov.pt" target="_blank">Dados.gov.pt</a> que começámos no último encontro. O plano é pensar formas de mapear o conjunto dos datasets que por lá se encontram, e também procurar as pérolas no meio de tantos dados.</p>
                    <p>Em outubro estreamos o blog novo do Date With Data com um artigo que explora os dados do <a href="https://datewithdata.pt/blog/airbnb-o-sarampo-do-porto/" target="_blank">Airbnb no Porto</a>. Uma leitura imperdível sobre o alojamento local na cidade invicta (e se não houver tempo de ler o texto não deixes de passar os olhos no mapa animado).</p>
                    <p>O blog do DWD vai ser o novo epicentro de publicações, desde os anúncios dos encontros, a experiências, e visualizações que vamos fazendo. Por sua vez, o site do Transparência Hackday vai deixar de ser blog e passar a ser o nosso cartão de visita, com ligações para os vários projetos que dinamizamos: os Date With Data, a Open Knowledge PT, a Central de Dados, o <a href="dadosabertos.pt" target="_blank">dadosabertos.pt</a>, a nossa preciosa wiki… Assim, a pouco e pouco vamos repensando as nossas plataformas, ferramentas e datasets, sempre com o objetivo de trazer até nós curios@s que querem mergulhar nos dados abertos connosco.</p>
                    <p>Sábado 9 de novembro, das 10:00 às 17:00, na <a href="https://cru-cowork.com/" target="_blank">CRU Cowork</a>. Para participar é só aparecer. Traz caderno, caneta, portátil e uma tripla. O resto é connosco ;)</p>
                </div>
        </div>
    </section><!-- /#next-dwd -->

    <section class="section" id="projects" data-magellan-destination="projects">
        <div class="grid-container">
            <h2>Projetos</h2>
            <div class="grid-x grid-margin-x small-up-1 medium-up-3">
                {% for article in dates %}
                    {% if article.category.name in ['Projectos'] and 'Destaque' in article.tags %}
                    <div class="cell text-center">
                        <a href="{{ article.projecturl }}" target="_blank">
                            {% if article.image %}
                            <p><img src="{{ article.image }}" alt="{{ article.title }}"></p>
                            {% endif %} {% if article.title %}
                            <h4 class="entry-title">{{ article.title }}</h4>
                            {% endif %}
                            <p class="entry-summary">{{ article.tagline }}</p>
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <p>Outros projetos: <a href="https://pt.openfoodfacts.org">↗ Open Food Facts</a></p>
        </div>
    </section><!-- /#projects -->

    <section class="section" id="collaborate" data-magellan-destination="collaborate">
        <div class="grid-container">
            <h2>O que é o Date with Data</h2>
            <div class="grid-x grid-padding-x small-up-1 medium-up-3">
                <div class="cell text-center">
                    <p><img src="{{ SITEURL }}/theme/img/foto1.jpg" at="Hackday"></p>
                    <h4>Quem</h4>
                    <p>Somos um grupo de pessoas interessadas nas combinações entre cidadania e tecnologia. Reunimo-nos em encontros mensais para trocar ideias e construir coisas em conjunto.</p>
                </div>
                <div class="cell text-center">
                    <p><img src="{{ SITEURL }}/theme/img/foto2.jpg" alt="Hackday"></p>
                    <h4>Porquê</h4>
                    <p>Num mundo de open data, smart cities, visualizações, webapps, open data e jornalismo de dados, sentimos a falta de um espaço para explorar e questionar o potencial da tecnologia para empoderar a cidadania.</p>
                </div>
                <div class="cell text-center">
                    <p><img src="{{ SITEURL }}/theme/img/foto3.jpg" alt="Hackday"></p>
                    <h4>Para quem</h4>
                    <p>Não é preciso ser hacker para participar. Nestes encontros cabem poetas, engenheiros, artistas, piratas, jornalistas, cientistas e outras almas livres. Só é obrigatória a boa disposição!</p>
                </div>
            </div>
        </div>
    </section><!-- /#collaborate -->

{% endblock %}
