{% extends "base.html" %}
{% block content %}

    <section id="hero" class="section text-center">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <h1 class="small-12 cell"><img src="{{ SITEURL }}/theme/img/logo-datewithdata.svg" alt="Date with Data"></h1>
                <h2 class="next small-12 cell">
                    <em>Próximo encontro:</em>
                    <span id="next_event">7 de março</span>
                </h2>
                <p class="medium-12 medium-offset-0 large-8 large-offset-2 cell">Assina a nossa newsletter para ficares a par dos próximos encontros e das últimas novidades na frente dos dados abertos.<br/> (enviamos no máximo duas por mês!)</p>
                <div class="subscribe small-12 large-offset-0 medium-8 medium-offset-2 large-6 large-offset-3 cell">
                        <!-- Begin MailChimp Signup Form -->
                        <div id="mc_embed_signup">
                            <form action="//transparenciahackday.us6.list-manage.com/subscribe/post?u=7c39a9eb2d8160fd5975e6fec&amp;id=8915d4bdd1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate grid-container" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll" class="grid-x">
                                    <div class="mc-field-group small-12 medium-7 cell">
                                        <input type="email" placeholder="Email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                    </div>
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_7c39a9eb2d8160fd5975e6fec_8915d4bdd1" tabindex="-1" value=""></div>
                                    <div class="small-12 medium-5 cell">
                                        <input type="submit" value="Assinar Newsletter" name="subscribe" id="mc-embedded-subscribe" class="button postfix">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--End mc_embed_signup-->
                    </div>
            </div>  
        </div>     
    </section><!-- /#hero -->

    <section class="section" id="next-dwd" data-magellan-destination="next-dwd">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <h2 class="cell text-center">Open Data Day 2020</h2>
                <h3 class="cell text-center">7 de março</h3>                
                <div class="small-12 medium-10 medium-offset-1 small-offset-0 cell">

                <p>O <a href="http://opendataday.org/">Open Data Day</a> é uma celebração anual dedicada aos dados abertos. No mesmo dia, em vários locais do mundo, são organizadas dezenas de eventos dedicados ao tema. é uma oportunidade para mostrar os benefícios da informação acessível ao público e incentivar à adoção de políticas abertas de dados junto do governo, empresas e sociedade civil.</p>
                <p>No Porto vamos assinalar a décima edição do evento, com o objetivo de juntar pessoas que se interessam e/ou contribuem para iniciativas de <em>civic tech</em> e para o ecossistema dos dados e informação pública. O dia vai começar com uma editatona de OpenStreetMap em que vamos ter várias missões para mapearmos em conjunto. à tarde, juntar-nos-emos numa sessão com oradores para falar de dados parlamentares (<a href="https://https://twitter.com/pddalm">Paulo Almeida</a>), jornalismo de dados (<a href="https://twitter.com/albuquerque_raq">Raquel Albuquerque</a>) e questões de género na Wikipédia (<a href="https://i2ads.up.pt/en/blog/author/sponte/">Sofia Ponte</a>), e deixar-nos ficar mais um pouco a estreitar laços com a ajuda de comes e bebes.</p>
                <p>Vai ser no <a href="http://www.openstreetmap.org/?mlat=41.15137&mlon=-8.61555#map=19/41.15138/-8.61555">UPTEC Baixa</a>; para aparecer, é só fazer o <a href="https://www.eventbrite.com/e/open-data-day-porto-tickets-97597762535">registo</a>!</p>
                <p>O Open Data Day 2020 Portugal conta com o generoso apoio da <a href="http://okfn.org/">Open Knowledge Foundation</a>, da <a href="https://mapbox.com/">Mapbox</a> e do <a href="http://uptec.up.pt/">UPTEC Baixa</a> para a concretização do evento.</p>
                <p>Até já!<br>A crew do Transparência Hackday Portugal / Open Knowledge Portugal</p>

                </div>
            </div>
        </div>
    </section><!-- /#next-dwd -->

    <section class="section" id="projects" data-magellan-destination="projects">
        <div class="grid-container">
            <h2>Projetos</h2>
            <div class="grid-x grid-margin-x small-up-1 medium-up-3">
                {% for article in dates %}
                    {% if article.category.name in ['Projectos'] and 'Destaque' in article.tags %}
                    <div class="cell text-center">
                        <a href="{{ article.projecturl }}" target="_blank">
                            {% if article.image %}
                            <p><img src="{{ article.image }}" alt="{{ article.title }}"></p>
                            {% endif %} {% if article.title %}
                            <h4 class="entry-title">{{ article.title }}</h4>
                            {% endif %}
                            <p class="entry-summary">{{ article.tagline }}</p>
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <p>Outros projetos: <a href="https://pt.openfoodfacts.org">↗ Open Food Facts</a></p>
        </div>
    </section><!-- /#projects -->

    <section class="section" id="collaborate" data-magellan-destination="collaborate">
        <div class="grid-container">
            <h2>O que é o Date with Data</h2>
            <div class="grid-x grid-padding-x small-up-1 medium-up-3">
                <div class="cell text-center">
                    <p><img src="{{ SITEURL }}/theme/img/foto1.jpg" at="Hackday"></p>
                    <h4>Quem</h4>
                    <p>Somos um grupo de pessoas interessadas nas combinações entre cidadania e tecnologia. Reunimo-nos em encontros mensais para trocar ideias e construir coisas em conjunto.</p>
                </div>
                <div class="cell text-center">
                    <p><img src="{{ SITEURL }}/theme/img/foto2.jpg" alt="Hackday"></p>
                    <h4>Porquê</h4>
                    <p>Num mundo de open data, smart cities, visualizações, webapps, open data e jornalismo de dados, sentimos a falta de um espaço para explorar e questionar o potencial da tecnologia para empoderar a cidadania.</p>
                </div>
                <div class="cell text-center">
                    <p><img src="{{ SITEURL }}/theme/img/foto3.jpg" alt="Hackday"></p>
                    <h4>Para quem</h4>
                    <p>Não é preciso ser hacker para participar. Nestes encontros cabem poetas, engenheiros, artistas, piratas, jornalistas, cientistas e outras almas livres. Só é obrigatória a boa disposição!</p>
                </div>
            </div>
        </div>
    </section><!-- /#collaborate -->

{% endblock %}
