{% extends "base.html" %}
{% block content %}

    <section id="hero" class="section text-center">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <h1 class="small-12 cell"><img src="{{ SITEURL }}/theme/img/logo-datewithdata.svg" alt="Date with Data"></h1>
                <h2 class="next small-12 cell">
                    <em>Próximo encontro:</em>
                    <span id="next_event">11 de janeiro</span>
                </h2>
                <p class="medium-12 medium-offset-0 large-8 large-offset-2 cell">Assina a nossa newsletter para ficares a par dos próximos encontros e das últimas novidades na frente dos dados abertos.<br/> (enviamos no máximo duas por mês!)</p>
                <div class="subscribe small-12 large-offset-0 medium-8 medium-offset-2 large-6 large-offset-3 cell">
                        <!-- Begin MailChimp Signup Form -->
                        <div id="mc_embed_signup">
                            <form action="//transparenciahackday.us6.list-manage.com/subscribe/post?u=7c39a9eb2d8160fd5975e6fec&amp;id=8915d4bdd1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate grid-container" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll" class="grid-x">
                                    <div class="mc-field-group small-12 medium-7 cell">
                                        <input type="email" placeholder="Email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                    </div>
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_7c39a9eb2d8160fd5975e6fec_8915d4bdd1" tabindex="-1" value=""></div>
                                    <div class="small-12 medium-5 cell">
                                        <input type="submit" value="Assinar Newsletter" name="subscribe" id="mc-embedded-subscribe" class="button postfix">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--End mc_embed_signup-->
                    </div>
            </div>  
        </div>     
    </section><!-- /#hero -->

    <section class="section" id="next-dwd" data-magellan-destination="next-dwd">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <h2 class="cell text-center">Date With Data #43: A década começa bem!</h2>
                <h3 class="cell text-center">11 de janeiro</h3>                
                <div class="small-12 medium-10 medium-offset-1 small-offset-0 cell">

                  <p>Damos as boas vindas a 2020 com mais um dos nossos encontros dedicados aos dados abertos, informação pública e <em>civic tech</em>!</p><p>Teremos connosco Pinar Dag e Damla Partanaz, representantes da <a href="https://www.voyd.org.tr/en" target="_blank" rel="noopener">Voyd</a>, organização dedicada à literacia de dados na Turquia. Vamos ter o privilégio de conhecer em primeira mão as iniciativas que se fazem na frente dos dados ali no outro canto da Europa, e procurar as pontas soltas que poderemos unir entre as nossas organizações.</p>
                  <p>No primeiro trimestre do ano também vamos tomar parte de duas iniciativas excepcionais: a WikiCon Porto e o Open Data Day 2020.</p><p>Vamos estar na <a href="https://meta.wikimedia.org/wiki/WikiCon_Portugal" target="_blank" rel="noopener">WikiCon</a> (17-19 jan) a falar do que fazemos nos encontros Date With Data e das experiências e resultados que já conseguimos ao trabalhar com a Wikipédia e Wikidata. No encontro deste sábado tencionamos reunir o trabalho que já fizemos e pensar o que mais se pode congeminar com estes recursos incontornáveis.</p>
                  <p>Também queremos começar já a pensar o <a href="https://opendataday.org" target="_blank" rel="noopener">Open Data Day 2020</a>, para organizarmos a habitual iniciativa portuguesa deste evento global. Vamos pensar em conjunto quem gostaríamos de ver falar, que atividades podemos fazer em conjunto, e outros pormenores logísticos.</p>
                  <p>E claro que não há Date With Data sem mãos na massa! Vamos olhar para o que fizemos com o <a href="http://Dados.gov.pt" target="_blank" rel="noopener">Dados.gov.pt</a> nos últimos encontros e alinhar um relato dessa expedição, e continuar a partir pedra nos projetos em andamento. Aparece para martelar connosco!</p>
                  <p>Sábado 11 de janeiro, das 10:00 às 17:00, na <a href="https://cru-cowork.com/" target="_blank" rel="noopener">CRU Cowork</a>. Para participar é só aparecer. Traz caderno, caneta, portátil e uma tripla. O resto é connosco ;)</p>
                  <p>Nos últimos dias, também contribuímos com a nossa perspetiva para um par de artigos sobre o estado atual dos dados abertos em Portugal:</p>
                  <ul>
                    <li><a href="https://rr.sapo.pt/2019/12/04/pais/governo-responde-as-criticas-de-relatorio-europeu-sobre-acesso-a-dados-publicos-estamos-a-trabalhar-numa-estrategia-nacional/especial/174114/" target="_blank" rel="noopener">Governo responde às críticas de relatório europeu sobre acesso a dados públicos. “Estamos a trabalhar numa estratégia nacional”</a> (Rui Barros, Renascença, 4 de dezembro)</li>
                    <li><a href="https://expresso.pt/sociedade/2020-01-05-Dados-a-riqueza-que-Portugal-ainda-nao-explora" target="_blank" rel="noopener">Dados: a riqueza que Portugal ainda não explora</a> (Raquel Albuquerque e Carlos Esteves, Expresso, 5 de janeiro)</li>
                  </ul>
                  <p>Vemo-nos sábado?</p>
                </div>
            </div>
        </div>
    </section><!-- /#next-dwd -->

    <section class="section" id="projects" data-magellan-destination="projects">
        <div class="grid-container">
            <h2>Projetos</h2>
            <div class="grid-x grid-margin-x small-up-1 medium-up-3">
                {% for article in dates %}
                    {% if article.category.name in ['Projectos'] and 'Destaque' in article.tags %}
                    <div class="cell text-center">
                        <a href="{{ article.projecturl }}" target="_blank">
                            {% if article.image %}
                            <p><img src="{{ article.image }}" alt="{{ article.title }}"></p>
                            {% endif %} {% if article.title %}
                            <h4 class="entry-title">{{ article.title }}</h4>
                            {% endif %}
                            <p class="entry-summary">{{ article.tagline }}</p>
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <p>Outros projetos: <a href="https://pt.openfoodfacts.org">↗ Open Food Facts</a></p>
        </div>
    </section><!-- /#projects -->

    <section class="section" id="collaborate" data-magellan-destination="collaborate">
        <div class="grid-container">
            <h2>O que é o Date with Data</h2>
            <div class="grid-x grid-padding-x small-up-1 medium-up-3">
                <div class="cell text-center">
                    <p><img src="{{ SITEURL }}/theme/img/foto1.jpg" at="Hackday"></p>
                    <h4>Quem</h4>
                    <p>Somos um grupo de pessoas interessadas nas combinações entre cidadania e tecnologia. Reunimo-nos em encontros mensais para trocar ideias e construir coisas em conjunto.</p>
                </div>
                <div class="cell text-center">
                    <p><img src="{{ SITEURL }}/theme/img/foto2.jpg" alt="Hackday"></p>
                    <h4>Porquê</h4>
                    <p>Num mundo de open data, smart cities, visualizações, webapps, open data e jornalismo de dados, sentimos a falta de um espaço para explorar e questionar o potencial da tecnologia para empoderar a cidadania.</p>
                </div>
                <div class="cell text-center">
                    <p><img src="{{ SITEURL }}/theme/img/foto3.jpg" alt="Hackday"></p>
                    <h4>Para quem</h4>
                    <p>Não é preciso ser hacker para participar. Nestes encontros cabem poetas, engenheiros, artistas, piratas, jornalistas, cientistas e outras almas livres. Só é obrigatória a boa disposição!</p>
                </div>
            </div>
        </div>
    </section><!-- /#collaborate -->

{% endblock %}
