{% extends "base.html" %}

{% block title %}{{ SITENAME }} &mdash; {{ page.title }}{% endblock title %}

{% block content %}

    <header class="grid-container fluid">
            <h2 class="plus-separator-title"><span>{{ page.title }}</span></h2>
    </header>

    <div class="grid-container fluid">
        <div class="grid-x grid-margin-x align-center">
            <div class="large-6 medium-8 small-12 cell">
                {{ page.content }}
            </div>
        </div>
    </div><!-- /.entry-content -->
{% endblock %}
