@import 'foundation/settings';
@import 'foundation';


/* Type
*/

@font-face {
    font-family: 'victors-pixel-font';
    src: url('/fonts/victor/victors.eot');
    src: url('/fonts/victor/victors.eot?#iefix') format('embedded-opentype'),
         url('/fonts/victor/victors.woff') format('woff'),
         url('/fonts/victor/victors.ttf') format('truetype'),
         url('/fonts/victor/victors.svg#victors-pixel-font') format('svg');
}

@font-face {
    font-family: 'SinkinSans';
    src: local('SinkinSans'), url('../fonts/SinkinSans/SinkinSans-400Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SinkinSans Bold';
    src: local('SinkinSans Bold'), url('../fonts/SinkinSans/SinkinSans-700Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'SinkinSans Light';
    src: local('SinkinSans Bold'), url('../fonts/SinkinSans/SinkinSans-200XLight.ttf') format('truetype');
}


body { font-family: 'SinkinSans', 'DejaVu Sans', Arial, sans-serif; }
body p { font-size: 0.75rem; }

h2 { font-family: 'SinkinSans Light', 'DejaVu Sans', Arial, sans-serif; }
h3, h4, h5, h6 { font-family: 'SinkinSans Bold', 'DejaVu Sans', Arial, sans-serif; }
h4 { font-size: 1rem; }

/* Pixel Font */
h1, .top-bar .name h1 { font-family: 'victors-pixel-font', DejaVu Sans, Arial, sans-serif; }
h1 { font-size: 64px; line-height: 66px; }

.top-bar .name h1, .top-bar .name h2,
.top-bar .name h3, .top-bar .name h4, { font-size: 16px; }

.top-bar-section ul li > a {
    font-family: 'SinkinSans Bold', 'DejaVu Sans', Arial, sans-serif;
    font-size: 0.65rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Colours

replaced primary and seconday in settings
and added
$dwd-darkblue: #333844;
*/

$dwd-blue: #18ebc6;
$dwd-red: #ff6959;
$dwd-lightgray: #fbfbfb;

h1, h2, h3, h4, h5, h6 { color: $dwd-darkblue; }

.top-bar { background-color: $dwd-darkblue; }

/* Layout
*/

.row > .row > h1,
.row > .row > h2,{
    margin-bottom: 1.2rem;
    margin-top: 0.5rem;
}

.hero, .next-dwd, .projects, .collaborate, .about, .supportedBy, .copyright {
    padding-top: 66px;
    padding-bottom: 20px;
}

.hero { background: $dwd-red; }
.next-dwd { background: $dwd-lightgray url('/images/transition-01.png') repeat-x 0 0; }
.projects { background: $dwd-lightgray url('/images/transition-01.png') repeat-x 0 0; }
.collaborate { background: $dwd-blue url('/images/transition-02.png') repeat-x 0 0; }
.about { background: $dwd-lightgray url('/images/transition-03.png') repeat-x 0 0; }
.supportedBy { background: $dwd-red url('/images/transition-04.png') repeat-x 0 0; }
.copyright { background: $dwd-lightgray url('/images/transition-01.png') repeat-x 0 0; }

.hero .next h2 em {
    font-family: 'SinkinSans Bold', 'DejaVu Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 0.85rem;
    text-transform: uppercase;
    font-style: normal;
    border-bottom: 3px solid $dwd-darkblue;
}


#projects a[target=_blank] {
    white-space: nowrap;  
}

.supportedBy .row a {  display: block; }
.supportedBy .row .columns p { margin-bottom: 0; }
