@import 'foundation/settings';
@import 'foundation';

.hero{
  background-color: #7FDBFF;
}

.projects{
  background-color: #0074D9;
}

.colaborate{
  background-color: #FF4136;
}

.about{
  background-color: #FF851B;
}

.supportedBy{
  background-color: #85144b;
}

.copyright{
    background-color: #FFDC00;
}
