@import 'foundation/settings';
@import 'foundation/foundation';


/* Type
*/

@font-face {
    font-family: 'victors-pixel-font';
    src: url('../fonts/victor/victors.eot');
    src: url('../fonts/victor/victors.eot?#iefix') format('embedded-opentype'),
         url('../fonts/victor/victors.woff') format('woff'),
         url('../fonts/victor/victors.ttf') format('truetype'),
         url('../fonts/victor/victors.svg#victors-pixel-font') format('svg');
}

@font-face {
    font-family: 'SinkinSans';
    font-weight: 400;
    font-style: normal;
    src: local('SinkinSans'), url('../fonts/SinkinSans/SinkinSans-400Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SinkinSans';
    font-weight: 700;
    font-style: normal;
    src: local('SinkinSans Bold'), url('../fonts/SinkinSans/SinkinSans-700Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'SinkinSans';
    font-weight: 200;
    font-style: normal;
    src: local('SinkinSans Light'), url('../fonts/SinkinSans/SinkinSans-200XLight.ttf') format('truetype');
}


@font-face {
    font-family: 'SinkinSans';
    font-weight: 600;
    font-style: normal;
    src: local('SinkinSans Semibold'), url('../fonts/SinkinSans/SinkinSans-600SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Libre Baskerville';
    font-weight: 400;
    font-style: normal;
    src: local('Libre Baskerville Regular'), url('../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Libre Baskerville';
    font-weight: 400;
    font-style: italic;
    src: local('Libre Baskerville Italic'), url('../fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Libre Baskerville';
    font-weight: 700;
    font-style: normal;
    src: local('Libre Baskerville Bold'), url('../fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Libre Baskerville';
    font-weight: 700;
    font-style: italic;
    src: local('Libre Baskerville Bold Italic'), url('../fonts/Libre_Baskerville/LibreBaskerville-BoldItalic.ttf') format('truetype');
}

body {
	font-family: 'SinkinSans', 'DejaVu Sans', Arial, sans-serif;
    font-weight: 400;
}

h1, h2 {
    font-family: 'SinkinSans', 'DejaVu Sans', Arial, sans-serif;
    font-weight: 200;
}
h3, h4, h5, h6 {
    font-family: 'SinkinSans', 'DejaVu Sans', Arial, sans-serif;
    font-weight: 700;
}

h4 {
    font-size: 1rem;
}

/* Pixel Font */
.home h1, .top-bar .name h1 { font-family: 'victors-pixel-font', DejaVu Sans, Arial, sans-serif; }
.home h1 { font-size: 64px; line-height: 66px; }

.top-bar .name h1, .top-bar .name h2,
.top-bar .name h3, .top-bar .name h4, { font-size: 16px; }

.top-bar-section ul li > a {
    font-family: 'SinkinSans', 'DejaVu Sans', Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.row > h2:first-child { margin-bottom: 1.45rem; }

/* Colours

replaced primary and seconday in settings
and added
$dwd-darkblue: #333844;
*/

$dwd-blue: #18ebc6;
$dwd-red: #ff6959;
$dwd-lightgray: #fbfbfb;

h1, h2, h3, h4, h5, h6 { color: $dwd-darkblue; }

.top-bar { background-color: $dwd-darkblue; }

/* Layout
*/

.row.expanded {
    max-width: 80rem;
}

.hero, .next-dwd, .projects, .collaborate, .about, .supportedBy, .copyright {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.hero { background: $dwd-lightgray; }
.next-dwd { background: $dwd-red url('../images/transition-04.png') repeat-x 0 0; }
.projects { background: $dwd-lightgray url('../images/transition-01.png') repeat-x 0 0; }
.collaborate { background: $dwd-blue url('../images/transition-02.png') repeat-x 0 0; }
.about { background: $dwd-lightgray url('../images/transition-03.png') repeat-x 0 0; }
.supportedBy { background: $dwd-red url('../images/transition-04.png') repeat-x 0 0; }
.copyright { background: $dwd-lightgray url('../images/transition-01.png') repeat-x 0 0; }

.next-dwd a,
.supportedBy a { color: #fff; }

.hero .row h1 { margin-bottom: 2rem; }

.hero .next h2 em {
    font-family: 'SinkinSans', 'DejaVu Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 0.85rem;
    text-transform: uppercase;
    font-style: normal;
    border-bottom: 3px solid $dwd-darkblue;
}

.next-dwd {
  .row .columns  {
      h3 { margin-bottom: 1rem; }
      
      .text-left span {
        font-family: monospace;
        margin-right: 10px;
        opacity: 0.8;
        }
        
        ul.no-bullet li {
          padding: 5px;
          border-bottom: 1px solid #fd9d92;
          &:last-child { border-bottom: 0; }
        }
    }
}

#projects a[target=_blank] {
    white-space: nowrap;  
}

#about {
  p {
    margin-bottom: 0.5rem;
    }
  .social {
    margin: 0;
    li {
      list-style-type: none;
      
      i {
        font-size: 1.5rem;
        line-height: 1;
        padding-right: 0.45rem;
        }
      }
    }
}

.supportedBy .row a {  display: block; }
.supportedBy .row .columns p { margin-bottom: 0; }

.copyright {
  p {
    margin-bottom: 0;
    i { font-size: 1.5rem; padding: 0 0.5rem; }
    }

}

/* Blog
*/

#content {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#post-list .hentry a {
    display: grid;
    grid-template-columns: 0.8fr 1.6fr 1.6fr;
    grid-gap: 0 1.5rem;
    gap: 0 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
    color: $dwd-darkblue;
}

#post-list .hentry a:hover,
#post-list .hentry a:focus,
#post-list .hentry a:hover h3,
#post-list .hentry a:focus h3 {
    color: $dwd-red;
}

#post-list .hentry a img {
    filter: grayscale(0%);
}

#post-list .hentry a:hover img {
    filter: grayscale(100%);
}

#post-list .hentry header,
#post-list .hentry footer.post-info,
#post-list .hentry .entry-summary {
    display: block;
    margin-top: 0;
}

.hentry header h3.entry-title {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

#post-list .hentry .published {
    display: block;
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
    border-top: 1px solid $dwd-red;
    padding-top: 0.5rem;
}

.hentry header .date {
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
    border-top: 1px solid $dwd-red;
    padding-top: 0.5rem;
}

.hentry header .date .author {
    opacity: 0.5;
}


#post-list .hentry footer.post-info p {
    margin-bottom: 0;
}

#post-list .hentry .entry-summary {
    font-size: 0.875rem;
    line-height: 1.3;
}

#post-list .hentry .entry-summary * {
    font-size: 90% !important;
    line-height: 1.3;
    font-weight: 400;
    margin-bottom: 0;
}

#post-list .hentry .entry-summary p {
    margin-bottom: 0.15rem;
}

.hentry .entry-content p {
    line-height: 1.4;
}

.hentry.longform header {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.hentry.longform header h2 {
    border-bottom: 1px solid $dwd-red;
    padding-bottom: 1rem;
}

.hentry.longform h1 {
    font-size: 2rem;
}
.hentry.longform h2 {
    font-size: 1.75rem;
}
.hentry.longform h3 { 
    font-size: 1.5rem;
    font-weight: 700;
}
.hentry.longform h4 {
    font-size: 1.25rem;
    font-weight: 700;
}
.hentry.longform h5 {
    font-size: 1rem;
    font-weight: 700;
}
.hentry.longform h6 {
    font-size: 0.875rem;
    font-weight: 700;
}

.hentry.longform h2:not(:first-child),
.hentry.longform h3:not(:first-child),
.hentry.longform h5:not(:first-child),
.hentry.longform h6:not(:first-child) {
    margin-top: 1.5rem;
    padding-top: 1rem;
}

.hentry.longform .date {
    border-top: 0;
    padding-top: 0;
    font-size: 0.75rem;
}

.hentry.longform .date .author {
    opacity: 1;
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.hentry.longform .date span {
    display: block;
    line-height: 1.4;
    margin-top: 0.5rem;
}

.hentry.longform .post-info time {
    display: block;
    font-size: 0.65rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0.5rem;
}

.hentry .entry-content {
	font-family: 'Libre Baskerville', 'DejaVu Serif', Georgia, serif;
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 400;
    font-style: normal;
}

.hentry.longform .entry-content em {
    font-weight: 400;
    font-style: italic;
}


.hentry.longform .entry-content strong {
    font-weight: 700;
    font-style: normal;
}

.hentry .entry-content blockquote,
.hentry .entry-content blockquote > * {
	margin-left: 1.5rem;
    color: rgba($dwd-darkblue, 0.5);
    font-size: 0.85rem;
    font-family: 'SinkinSans', 'DejaVu Sans', Arial, sans-serif;
    font-weight: 600;
}

.hentry.longform .main-image iframe {
    width: 100%;
}

.hentry.longform .entry-content .chartjs-render-monitor {
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.hentry.longform .entry-content .boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 2rem;
    gap: 0 2rem;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.hentry .entry-content .boxes .card {
    font-size: 1.5rem;
    font-family: 'SinkinSans', 'DejaVu Sans', Arial, sans-serif;
    text-align: center;
    background-color: #ddd;
    padding: 2rem 1rem;
    margin-bottom: 1.5rem;
}

.hentry .entry-content .boxes .card strong {
    color: $dwd-red;
    font-size: 2rem;
    font-weight: 700;
    display: block;
}

.hentry .entry-content .boxes .card span {
    font-size: 1rem;
    line-height: 1.2;
    display: block;
    padding: 0.5rem 0;
    
}

.hentry .entry-content .boxes .card small {
    display: block;
    font-size: 0.75rem;
}

.hentry .entry-content .boxes .card em {
    font-style: normal;
    font-weight: 700;
}

.hentry .main-image span.caption,
.hentry .entry-content span.caption {
    color: rgba($dwd-darkblue, 0.7);
    font-family: 'SinkinSans', 'DejaVu Sans', Arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    display: block;
    margin-top: 0.25rem;
}

.hentry .main-image span.caption, {
    text-align: right;
}

.hentry .entry-content span.caption {
    margin-bottom: 1.5rem;
}
